.path-mod-choice .results {
    border-collapse: separate;
}

.path-mod-choice .results .data {
    white-space: nowrap;
    vertical-align: top;
}

.path-mod-choice .button {
    text-align: center;
}

.path-mod-choice .attemptcell {
    width: 5px;
    white-space: nowrap;
}

.path-mod-choice .anonymous,
.path-mod-choice .names {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.path-mod-choice .downloadreport {
    margin-left: 10%;
    border-width: 0;
}

.path-mod-choice .choiceresponse {
    width: 100%;
}

.path-mod-choice .choiceresponse .picture {
    width: 10px;
    white-space: nowrap;
}

.path-mod-choice .choiceresponse .fullname {
    width: 100%;
    white-space: nowrap;
}

.path-mod-choice .responseheader {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.path-mod-choice .choices .option label {
    vertical-align: top;
}

.path-mod-choice .choices .option input {
    vertical-align: middle;
}

.path-mod-choice .horizontal,
.path-mod-choice .vertical {
    margin-right: 10%;
    margin-left: 10%;
}

.path-mod-choice .horizontal .choices .option {
    display: inline-block;
    padding-right: 20px;
    white-space: normal;
}

.path-mod-choice .horizontal .choices .button {
    margin-top: 10px;
}

.path-mod-choice ul.choices li {
    list-style: none;
}

.path-mod-choice .results {
    text-align: center;
}

.path-mod-choice .results.anonymous .graph.horizontal {
    width: 70%;
    text-align: left;
    vertical-align: middle;
}

.path-mod-choice .results.anonymous .graph.vertical,
.path-mod-choice .cell {
    text-align: center;
    vertical-align: bottom;
}

.path-mod-choice .results.anonymous th.header {
    border: 1px solid inherit;
}

.path-mod-choice .results.names .header {
    width: 10%;
    white-space: normal;
}

.path-mod-choice .results.names .cell {
    text-align: left;
    vertical-align: top;
}

.path-mod-choice .results.names .user,
.path-mod-choice #yourselection {
    padding: 5px;
}

.path-mod-choice .results.names .user .attemptaction,
.path-mod-choice .results.names .user .image,
.path-mod-choice .results.names .user .fullname {
    float: left;
}

.path-mod-choice .results.names .user .fullname {
    padding-left: 5px;
}

.path-mod-choice .results .data.header {
    width: 10%;
}

.path-mod-choice .responseaction {
    text-align: center;
}

.path-mod-choice .results .option {
    white-space: normal;
}

.path-mod-choice .response {
    overflow: auto;
}

.path-mod-choice .results .option,
.path-mod-choice .results .numberofuser,
.path-mod-choice .results .percentage {
    font-size: 108%;
    font-weight: bold;
}

#page-mod-choice-report .downloadreport ul li {
    display: inline;
    float: left;
    padding: 0 20px;
    list-style: none;
}

.path-mod-choice .clearfloat {
    float: none;
    clear: both;
}

/**
 * Override for RTL layout
 */

.path-mod-choice.dir-rtl .horizontal .choices .option {
    float: right;
    padding-right: 0;
    padding-left: 20px;
}

.path-mod-choice.dir-rtl .results.anonymous .graph.horizontal {
    text-align: right;
}

.path-mod-choice.dir-rtl .results.anonymous {
    text-align: center;
}

.path-mod-choice.dir-rtl .results.names .cell {
    text-align: right;
}

.path-mod-choice.dir-rtl .results.names .user .attemptaction,
.path-mod-choice.dir-rtl .results.names .user .image,
.path-mod-choice.dir-rtl .results.names .user .fullname,
.path-mod-choice.dir-rtl .results.names .user .fullname {
    padding-right: 5px;
    padding-left: 0;
}

.path-mod-choice.dir-rtl .downloadreport {
    margin-right: 25%;
    margin-left: 0;
}

#page-mod-choice-report.dir-rtl .downloadreport ul li {
    float: right;
}

#page-mod-choice-view.dir-rtl .reportlink {
    text-align: left;
}

