/* styles using by feedback */

.feedback_required_mark {
    color: #f00;
}

div.missingrequire {
    background: #faa;
}

span.feedback_info {
    font-weight: bold;
}

div.feedback_depend {
    background: #ddd;
}

div.feedback_complete_depend {
    background: #eee;
}

span.feedback_depend {
    color: #f00;
}

div.feedback_item_number_left,
div.feedback_item_left {
    float: left;
}

div.feedback_item_number_right,
div.feedback_item_right {
    float: right;
}

div.feedback_item_commands_left {
    float: right;
    text-align: right;
}

div.feedback_item_commands_right {
    float: left;
    text-align: left;
}

li.feedback_item_check_h_left,
li.feedback_item_check_h_right,
li.feedback_item_select_h_left,
li.feedback_item_select_h_right,
li.feedback_item_radio_h_left,
li.feedback_item_radio_h_right {
    display: inline;
    list-style-type: none;
}

li.feedback_item_check_v_left,
li.feedback_item_check_v_right,
li.feedback_item_select_v_left,
li.feedback_item_select_v_right,
li.feedback_item_radio_v_left,
li.feedback_item_radio_v_right {
    display: block;
    list-style-type: none;
}

div.feedback_items label {
    display: inline;
}

div.feedback_item_captcha_text_left,
div.feedback_item_captcha_img_left {
    display: inline;
    margin: 5px;
}

div.feedback_item_captcha_text_right,
div.feedback_item_captcha_img_right {
    display: inline;
    margin: 5px;
}

hr.feedback_pagebreak {
    height: 8px;
    color: #aaa;
    background-color: #aaa;
    border: 0;
}

.drag_target_active {
    opacity: .25;
}

.drag_item_active {
    opacity: .5;
}

ul#feedback_draglist {
    padding: 0;
    margin: 0;
    list-style: none;
}

div#feedback_dragarea {
    width: 95%;
}

