/** Bits that can appear on any page. */

.path-mod-quiz .statedetails {
    display: block;
    font-size: 0.7em;
}

/** Attempt and review pages **/

#page-mod-quiz-attempt #page .controls,
#page-mod-quiz-summary #page .controls,
#page-mod-quiz-review #page .controls {
    margin: 8px auto;
    text-align: center;
}

#page-mod-quiz-attempt .submitbtns,
#page-mod-quiz-review .submitbtns {
    padding-top: 1.5em;
    clear: left;
    text-align: left;
}

#page-mod-quiz-attempt.dir-rtl .submitbtns,
#page-mod-quiz-review.dir-rtl .submitbtns {
    text-align: right;
}

body.jsenabled .questionflagcheckbox {
    display: none;
}

/** Mod quiz attempt **/

.generalbox#passwordbox {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

#passwordform {
    margin: 1em 0;
}

/* Question navigation block. */

#quiznojswarning {
    color: red;
}

#quiznojswarning {
    font-size: 0.7em;
    line-height: 1.1;
}

.jsenabled #quiznojswarning {
    display: none;
}

.path-mod-quiz #user-picture {
    margin: 0.5em 0;
}

.path-mod-quiz #user-picture img {
    width: auto;
    height: auto;
    vertical-align: bottom;
}

.path-mod-quiz .qnbutton {
    position: relative;
    display: block;
    float: left;
    width: 1.5em;
    height: 1.5em;
    padding: 0;
    margin: 0.3em 0.3em 0.3em 0;
    overflow: hidden;
    font-weight: bold;
    line-height: 1.5em !important;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background: #ddd;
    border: 1px solid #bbb;
}

.path-mod-quiz.dir-rtl .qnbutton {
    float: right;
}

.path-mod-quiz .qnbutton .trafficlight,
.path-mod-quiz .qnbutton .thispageholder {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
}

.path-mod-quiz .qnbutton.thispage {
    border-color: #666;
}

.path-mod-quiz .qnbutton.thispage .thispageholder {
    border: 1px solid #666;
}

.path-mod-quiz .qnbutton.flagged .trafficlight {
    background: url([[pix:quiz|navflagged]]) no-repeat top right;
}

.path-mod-quiz .qnbutton.notyetanswered,
.path-mod-quiz .qnbutton.requiresgrading,
.path-mod-quiz .qnbutton.invalidanswer {
    background-color: #fff;
}

.path-mod-quiz .qnbutton.correct {
    background-color: #cfc;
}

.path-mod-quiz .qnbutton.correct .trafficlight {
    border-bottom: 3px solid #080;
}

.path-mod-quiz .qnbutton.partiallycorrect {
    background-color: #ffa;
}

.path-mod-quiz .qnbutton.notanswered,
.path-mod-quiz .qnbutton.incorrect {
    background-color: #fcc;
}

.path-mod-quiz .qnbutton.notanswered .trafficlight,
.path-mod-quiz .qnbutton.incorrect .trafficlight {
    border-top: 3px solid #800;
}

.path-mod-quiz .qnbutton.free:hover {
    text-decoration: underline;
}

.path-mod-quiz .qnbutton.free span {
    cursor: pointer;
}

.path-mod-quiz .othernav {
    margin: 0.5em 0;
    clear: both;
}

.path-mod-quiz .othernav a,
.path-mod-quiz .othernav input {
    display: block;
    margin: 0.5em 0;
}

/* Countdown timer. */

#quiz-timer {
    display: none;
    margin-top: 1em;
}

#quiz-time-left {
    font-weight: bold;
}

#quiz-timer.timeleft15 {
    background: #fff;
}

#quiz-timer.timeleft14 {
    background: #fee;
}

#quiz-timer.timeleft13 {
    background: #fdd;
}

#quiz-timer.timeleft12 {
    background: #fcc;
}

#quiz-timer.timeleft11 {
    background: #fbb;
}

#quiz-timer.timeleft10 {
    background: #faa;
}

#quiz-timer.timeleft9 {
    background: #f99;
}

#quiz-timer.timeleft8 {
    background: #f88;
}

#quiz-timer.timeleft7 {
    background: #f77;
}

#quiz-timer.timeleft6 {
    background: #f66;
}

#quiz-timer.timeleft5 {
    background: #f55;
}

#quiz-timer.timeleft4 {
    background: #f44;
}

#quiz-timer.timeleft3 {
    background: #f33;
}

#quiz-timer.timeleft2 {
    background: #f22;
}

#quiz-timer.timeleft1 {
    background: #f11;
}

#quiz-timer.timeleft0 {
    background: #f00;
}

/** mod quiz mod **/

#page-mod-quiz-mod #id_reviewoptionshdr .fitem {
    width: 23%;
    margin-left: 10px;
}

#page-mod-quiz-mod #id_reviewoptionshdr fieldset.fgroup {
    width: 100%;
    margin-left: 0;
    text-align: left;
}

#page-mod-quiz-edit div.question div.content .questiontext,
#categoryquestions .questiontext {
    position: relative;
    max-width: 40%;
    padding-left: 0.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    zoom: 1;
}

#page-mod-quiz-edit div.question div.content .questionname,
#categoryquestions .questionname {
    position: relative;
    max-width: 20%;
    overflow: hidden;
    white-space: nowrap;
    zoom: 1;
}

#page-mod-quiz-edit div.editq div.question div.content .singlequestion a .questionname,
div.editq div.question div.content .singlequestion a .questiontext {
    text-decoration: underline;
}

#page-mod-quiz-edit.ie6 div.question div.content .questiontext {
    width: 50%;
}

#page-mod-quiz-edit.ie6 div.question div.content .questionname {
    width: 20%;
}

#page-mod-quiz-mod #id_reviewoptionshdr .fitem {
    float: left;
    width: 23%;
    clear: none;
}

#page-mod-quiz-mod #id_reviewoptionshdr .fitemtitle {
    width: 100%;
    height: 2.5em;
    margin-left: 0;
    font-weight: bold;
    text-align: left;
}

#page-mod-quiz-mod #id_reviewoptionshdr fieldset.fgroup {
    margin: 0 0 1em;
    clear: left;
}

#page-mod-quiz-mod #id_reviewoptionshdr fieldset.fgroup > span {
    float: left;
    clear: left;
    line-height: 1.7;
}

#page-mod-quiz-mod #id_reviewoptionshdr fieldset.fgroup span label {
    margin-left: 0.4em;
}

#page-mod-quiz-mod.dir-rtl #id_reviewoptionshdr .fitem {
    float: right;
}

#page-mod-quiz-mod.dir-rtl #id_reviewoptionshdr fieldset.fgroup span {
    float: right;
    clear: right;
}

#page-mod-quiz-mod.dir-rtl #id_reviewoptionshdr .fitemtitle {
    text-align: right;
}

/** Mod quiz view **/

#page-mod-quiz-view .quizinfo,
#page-mod-quiz-view #page .quizgradefeedback,
#page-mod-quiz-view #page .quizattempt {
    text-align: center;
}

#page-mod-quiz-view #page .quizattemptsummary td p {
    margin-top: 0;
}

table.quizattemptsummary .bestrow td {
    background-color: #e8e8e8;
}

table.quizattemptsummary .noreviewmessage {
    color: gray;
}

#page-mod-quiz-view .generaltable.quizattemptsummary {
    margin-right: auto;
    margin-left: auto;
}

#page-mod-quiz-view .generalbox#feedback {
    width: 70%;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
}

#page-mod-quiz-view .generalbox#feedback h2 {
    margin: 0;
}

#page-mod-quiz-view .generalbox#feedback h3 {
    text-align: left;
}

#page-mod-quiz-view.dir-rtl .generalbox#feedback h3 {
    text-align: center;
}

#page-mod-quiz-view .generalbox#feedback .overriddennotice {
    font-size: 0.7em;
    text-align: center;
}

.quizstartbuttondiv.quizsecuremoderequired input {
    display: none;
}

.jsenabled .quizstartbuttondiv.quizsecuremoderequired input {
    display: inline;
}

.mod-quiz .gradedattempt,
.mod-quiz tr.gradedattempt td {
    background-color: #e8e8e8;
}

.quizattemptcounts {
    clear: left;
    text-align: center;
}

/** Mod quiz summary **/

#page-mod-quiz-summary #content {
    text-align: center;
}

#page-mod-quiz-summary .questionflag {
    vertical-align: text-bottom;
}

#page-mod-quiz-summary #quiz-timer {
    margin-top: 1em;
    text-align: center;
}

#page-mod-quiz-summary .submitbtns {
    margin-top: 1.5em;
}

@media print {
    .quiz-secure-window * {
        display: none !important;
    }
}

/** Mod quiz review **/

table.quizreviewsummary {
    width: 100%;
}

table.quizreviewsummary th.cell {
    width: 10em;
    padding: 1px 0.5em 1px 1em;
    font-weight: bold;
    text-align: right;
    background: #f0f0f0;
}

table.quizreviewsummary td.cell {
    padding: 1px 1em 1px 0.5em;
    text-align: left;
    background: #fafafa;
}

.dir-rtl table.quizreviewsummary td.cell {
    text-align: right;
}

/** Mod quiz make comment or override grade popup. **/

#page-mod-quiz-comment .mform {
    width: 100%;
}

#page-mod-quiz-comment .mform fieldset {
    margin: 0;
}

#page-mod-quiz-comment .que {
    margin: 0;
}

/** Mod quiz report **/

#page-mod-quiz-report h2.main {
    clear: both;
}

#page-mod-quiz-report div#commands,
#page-mod-quiz-report .controls {
    text-align: center;
}

#page-mod-quiz-report .dubious {
    background-color: #fcc;
}

#page-mod-quiz-report .highlight {
    background-color: lightYellow;
    border: medium solid yellow;
}

#page-mod-quiz-report .negcovar {
    border: medium solid pink;
}

#page-mod-quiz-report .toggleincludeauto {
    text-align: center;
}

#page-mod-quiz-report .gradetheselink {
    font-size: 0.8em;
}

#page-mod-quiz-report .mform fieldset {
    margin: 0;
}

#page-mod-quiz-report fieldset.felement.fgroup {
    margin: 0;
}

#page-mod-quiz-report table th {
    white-space: normal;
}

#page-mod-quiz-report table#attempts td,
#page-mod-quiz-report table.quizresponseanalysis td {
    max-width: 20em;
    word-wrap: break-word;
}

#page-mod-quiz-report table.titlesleft td.c0 {
    font-weight: bold;
}

#page-mod-quiz-report table .numcol {
    text-align: center;
    vertical-align: middle !important;
}

#page-mod-quiz-report table#attempts {
    width: 80%;
    margin: 0.2em auto;
    clear: both;
}

#page-mod-quiz-report table#attempts .header,
#page-mod-quiz-report table#attempts .cell {
    padding: 4px;
}

#page-mod-quiz-report table#attempts .header .commands {
    display: inline;
}

#page-mod-quiz-report table#attempts .picture {
    width: 40px;
}

#page-mod-quiz-report table#attempts td {
    vertical-align: middle;
    border-right-style: solid;
    border-left-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
}

#page-mod-quiz-report table#attempts .header {
    text-align: left;
}

#page-mod-quiz-report table#attempts .picture {
    text-align: center !important;
}

#page-mod-quiz-report table#attempts.grades span.que,
#page-mod-quiz-report table#attempts span.avgcell {
    white-space: nowrap;
}

#page-mod-quiz-report table#attempts span.que .requiresgrading {
    white-space: normal;
}

#page-mod-quiz-report table#attempts .questionflag {
    padding-left: 6px;
    vertical-align: text-bottom;
}

.dir-rtl#page-mod-quiz-report table#attempts .questionflag {
    padding-right: 6px;
    padding-left: 0;
}

#page-mod-quiz-report .graph.flexible-wrap {
    overflow: auto;
    text-align: center;
}

#page-mod-quiz-report #cachingnotice {
    padding: 0.2em;
    margin-bottom: 1em;
}

#page-mod-quiz-report #cachingnotice .singlebutton {
    margin: 0.5em 0 0;
}

#page-mod-quiz-report .bold .reviewlink {
    font-weight: normal;
}

/** Mod quiz edit **/

#page-mod-quiz-edit h2.main {
    display: inline;
    padding-right: 1em;
    clear: left;
}

#categoryquestions .r1 {
    background: #e4e4e4;
}

#categoryquestions .r1.highlight {
    background-color: #afa;
}

#categoryquestions .header {
    padding: 0 2px;
    text-align: center;
    border: 0 none;
}

#categoryquestions th.modifiername .sorters,
#categoryquestions th.creatorname .sorters {
    font-size: 0.8em;
    font-weight: normal;
}

table#categoryquestions {
    width: 100%;
    overflow: hidden;
    table-layout: fixed;
}

#categoryquestions .iconcol {
    width: 15px;
    padding: 0;
    text-align: center;
}

#categoryquestions .checkbox {
    width: 19px;
    padding: 0;
    text-align: center;
}

#categoryquestions .qtype {
    text-align: center;
}

#categoryquestions .qtype {
    width: 28px;
    padding: 0;
}

#categoryquestions .questiontext p {
    margin: 0;
}

#page-mod-quiz-edit div.quizcontents {
    display: block;
    float: left;
    width: 70%;
    clear: left;
}

#page-mod-quiz-edit div.quizwhenbankcollapsed {
    width: 100%;
}

#page-mod-quiz-edit div.quizpage {
    display: block;
    width: 100%;
    clear: both;
}

#page-mod-quiz-edit div.quizpage span.pagetitle {
    display: block;
    float: left;
    margin-top: 0.3em;
    color: #006;
}

#page-mod-quiz-edit div.quizpage .pagecontent {
    position: relative;
    display: block;
    float: left;
    width: 88%;
    padding: 0.15em 0 0.3em;
    margin-top: 0.3em;
    margin-bottom: 0.2em;
    margin-left: 0.3em;
    line-height: 1.3em;
    background-color: #d6d6d6;
    border-left: thin solid #777;
    border-radius: 0.6em;
    border-radius-bottomleft: 0;
    border-radius-topleft: 0;
}

#page-mod-quiz-edit div.quizpage .pagecontent .pagestatus {
    padding: 0.1em 0.1em 0.1em 0.3em;
    margin: 0.3em;
    font-weight: bold;
    background-color: #eee;
    border-radius-topright: 0.3em;
    border-radius-bottomright: 0.3em;
}

#page-mod-quiz-edit div.quizpage .pagecontent form#addquestion {
    background-color: #fff;
}

#page-mod-quiz-edit div.quizpage .pagecontent form.randomquestionform div {
  /* it is a mystery why this has to be inline-table but otherwise the layout gets screwed, even if it is "inline" */
    display: inline-table;
}

#page-mod-quiz-edit div.quizpage .pagecontent form.randomquestionform div input {
    display: inline;
}

#page-mod-quiz-edit .addpage {
    float: right;
    padding-top: 0.3em;
    margin-right: 2em;
    clear: both;
}

#page-mod-quiz-edit .statusdisplay {
    padding: 1px;
    margin: 0.3em 1em 0.3em 0;
    clear: both;
    background-color: #ffc;
}

#page-mod-quiz-edit .statusdisplay p {
    margin: 0.4em;
}

#page-mod-quiz-edit div.reorder .reordercontrols {
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    margin-top: 0.5em;
    clear: both;
}

#page-mod-quiz-edit div.reorder .reordercontrols .moveselectedonpage {
    float: right;
    padding: 0.5em 0.3em;
    clear: right;
    text-align: right;
}

#page-mod-quiz-edit div.reorder .reordercontrols .addnewpagesafterselected,
#page-mod-quiz-edit .repaginatecommand {
    float: right;
    padding-right: 1em;
    clear: right;
}

#page-mod-quiz-edit div.reorder .reordercontrols .deleteselected {
    float: right;
    margin-right: 1em;
}

#page-mod-quiz-edit div.reorder div.question {
    padding-top: 0.2em;
}

#page-mod-quiz-edit div.reorder div.question div.qnum {
    width: 2.9em;
    padding-top: 0.1em;
}

#page-mod-quiz-edit .reorder div.question div.content {
    position: relative;
    float: left;
    width: 87%;
    padding: 0.1em;
    line-height: 1.2em;
    background-color: #f9f9f9;
    border-radius: 0.3em;
    border-radius-bottomleft: 0;
    border-radius-topleft: 0;
}

#page-mod-quiz-edit .reorder .questioncontentcontainer .quiz_randomquestion {
    position: relative;
}

#page-mod-quiz-edit .reorder div.question div.content div.quiz_randomquestion {
    line-height: 1em;
}

#page-mod-quiz-edit .reorder .questioncontentcontainer {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

#page-mod-quiz-edit .reorder .questioncontentcontainer .randomquestioncategory {
    display: inline;
    float: none;
    overflow: hidden;
    white-space: nowrap;
}

#page-mod-quiz-edit .reorder .questioncontentcontainer .randomquestioncategory label {
    display: inline-block;
    max-width: 25%;
    padding-left: 0.3em;
    overflow: hidden;
    white-space: nowrap;
}

#page-mod-quiz-edit .reorder .questioncontentcontainer .randomquestionfromcategory label {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

#page-mod-quiz-edit .reorder .questioncontentcontainer .randomquestionfromcategory,
#page-mod-quiz-edit .reorder div.question div.content .questionpreview {
    display: inline;
    float: none;
}

#page-mod-quiz-edit .reorder fieldset {
    display: inline;
}

#page-mod-quiz-edit div.reorder div.question div.qnum {
    font-size: 1em;
    text-align: right;
}

#page-mod-quiz-edit .questioncontentcontainer div.randomquestionqlist {
    padding-right: 0.2em;
    padding-left: 0.2em;
    margin: 0.5em;
    margin-top: 0.8em;
    clear: both;
}

#page-mod-quiz-edit .questioncontentcontainer div.randomquestionqlist .totalquestionsinrandomqcategory {
    overflow: auto;
    white-space: normal;
}

#page-mod-quiz-edit .questioncontentcontainer div.randomquestionqlist ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#page-mod-quiz-edit .questioncontentcontainer div.randomquestionqlist ul li {
    width: 100%;
    overflow: hidden;
    clear: left;
    white-space: nowrap;
}

#page-mod-quiz-edit .questioncontentcontainer div.randomquestionqlist ul li img {
    padding-right: 0.3em;
}

#page-mod-quiz-edit .questioncontentcontainer div.randomquestionqlist ul li span {
    display: inline;
}

#page-mod-quiz-edit .questioncontentcontainer a {
    text-decoration: underline;
}

#page-mod-quiz-edit .questioncontentcontainer div.singlequestion a {
    text-decoration: underline;
}

#page-mod-quiz-edit .questioncontentcontainer .randomquestioncategory {
    font-weight: bold;
}

#page-mod-quiz-edit div.question {
    width: 100%;
    clear: left;
}

#page-mod-quiz-edit div.question div.qnum {
    z-index: 99;
    display: block;
    float: left;
    width: 1.4em;
    padding-right: 0.3em;
    padding-left: 0;
    color: #333;
    text-align: right;
}

#page-mod-quiz-edit div.question div.questioncontainer {
    background-color: #ffc;
}

#page-mod-quiz-edit div.editq div.question div.content {
    position: relative;
    float: left;
    width: 87%;
    padding: 0.5em;
    line-height: 1.4em;
    border-radius: 0.6em;
    border-radius-bottomleft: 0;
    border-radius-topleft: 0;
}

#page-mod-quiz-edit div.question div.content div.points {
    position: absolute;
    top: 0.5em;
    right: 60px;
    z-index: 900;
    display: block;
    width: 8.5em;
    max-width: 30%;
    padding: 0.2em;
    margin: 0;
    line-height: 1em;
    background-color: #ddf;
    border-left: 0.4em solid #fff;
    border-radius: 0.2em;
    border-radius-bottomleft: 0;
    border-radius-topleft: 0;
}

#page-mod-quiz-edit div.question div.content div.points input {
    width: 2em;
    padding: 0;
}

#page-mod-quiz-edit div.question div.content div.points input.pointssubmitbutton {
    width: auto;
}

#page-mod-quiz-edit div.question div.content div.qorder {
    position: absolute;
    right: 50px;
    z-index: 900;
    display: block;
    max-width: 30%;
    margin: 0;
    line-height: 1em;
    background-color: #ddf;
    border-radius: 0.2em;
    border-radius-bottomleft: 0;
    border-radius-topleft: 0;
}

#page-mod-quiz-edit div.question div.content .editicon {
    width: 15px;
}

#page-mod-quiz-edit div.question div.content .singlequestion .questionname,
#page-mod-quiz-edit div.question div.content .singlequestion .questiontext {
    display: inline-block;
}

#page-mod-quiz-edit div.question div.content .singlequestion .questionpreview {
    background-color: #eee;
}

#page-mod-quiz-edit div.question div.content .questiontype {
    display: block;
    float: left;
    clear: left;
}

#page-mod-quiz-edit.dir-rtl div.question div.content .questiontype {
    float: right;
    clear: right;
}

#page-mod-quiz-edit div.question div.content .questionpreview {
    display: block;
    float: left;
    padding-right: 0.2em;
    padding-left: 0.2em;
    margin-left: 0.3em;
}

#page-mod-quiz-edit div.question div.content .questionpreview a {
    background-color: #eee;
}

#page-mod-quiz-edit div.question div.content div.quiz_randomquestion .questionpreview {
    display: inline;
    float: none;
}

#page-mod-quiz-edit div.question div.content div.questioncontrols {
    position: absolute;
    top: 0;
    right: 0.3em;
    z-index: 900;
    display: block;
    float: right;
    width: 55px;
    padding: 0.2em;
    text-align: right;
    background-color: #f9f9f9;
}

#page-mod-quiz-edit div.question div.content div.questioncontrols img.upwithoutdown {
    display: inline;
    padding-right: 12px;
}

#page-mod-quiz-edit div.question div.content .questiontext {
    font-weight: bold;
}

#page-mod-quiz-edit div.question div.content .questiontype {
    font-style: italic;
}

#page-mod-quiz-edit .editq div.question div.qnum {
    padding-top: 0.2em;
}

#page-mod-quiz-edit .editq div.question {
    padding-top: 0.3em;
}

#page-mod-quiz-edit .editq div.questioncontentcontainer div.singlequestion img {
    float: left;
    padding-top: 0.3em;
    padding-right: 0.3em;
}

#page-mod-quiz-edit .editq div.question div.content {
    background-color: #f9f9f9;
}

#page-mod-quiz-edit .editq div.question div.content .randomquestioncategory {
    position: relative;
    display: inline-block;
    margin-top: 0.4em;
}

#page-mod-quiz-edit .editq div.question div.content .randomquestioncategory a {
    position: relative;
    display: block;
    float: left;
    max-width: 15em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#page-mod-quiz-edit .editq div.question div.content .questionpreview {
    float: left;
}

#page-mod-quiz-edit .editq div.question div.content .questionpreview a {
    display: inline;
    float: none;
    margin-left: 0;
    font-weight: normal;
}

#page-mod-quiz-edit .editq div.question div.content .randomquestioncategory .questionpreview img {
    padding-right: 0.3em;
}

#page-mod-quiz-edit .editq div.question div.content .singlequestion .questioneditbutton .questionname,
#page-mod-quiz-edit .editq div.question div.content .singlequestion .questioneditbutton .questiontext {
    float: left;
}

#page-mod-quiz-edit .reorder div.question div.content .singlequestion.missingtype .questionname,
#page-mod-quiz-edit .editq div.question div.content .singlequestion.missingtype .questionname {
    max-width: 75%;
    font-style: italic;
}

#page-mod-quiz-edit .editq div.question div.description div.content .questiontext {
    max-width: 75%;
}

#page-mod-quiz-edit .editq div.question div.qnum {
    font-size: 1.5em;
}

table#categoryquestions td,
#page-mod-quiz-edit table#categoryquestions th {
    overflow: hidden;
    white-space: nowrap;
}

.questionbankwindow.block {
    right: 0.3em;
    display: block;
    float: right;
    width: 30%;
    padding-bottom: 0.5em;
    border-width: 0;
}

.questionbankwindow.block .content {
    padding: 0;
}

.questionbankwindow .choosecategory,
.questionbankwindow .createnewquestion {
    padding: 0.3em;
}

.questionbankwindow .createnewquestion .singlebutton {
    display: inline;
}

.questionbankwindow #catmenu_jump {
    display: block;
}

.questionbank div.categoryquestionscontainer,
.questionbank .categorysortopotionscontainer,
.questionbank .categorypagingbarcontainer,
.questionbank .categoryselectallcontainer {
    padding-right: 0.3em;
    padding-left: 0.3em;
}

.noquestionsincategory {
    padding-top: 1em;
    padding-bottom: 1em;
    clear: both;
}

.modulespecificbuttonscontainer {
    padding-right: 0.3em;
    padding-left: 0.3em;
}

.quizquestionlistcontrols {
    text-align: center;
}

.categoryinfo {
    padding: 0.3em;
}

.path-mod-quiz .gradingdetails {
    font-size: small;
}

body #quizcontentsblock #repaginatedialog {
    display: none;
}

body.jsenabled #quizcontentsblock #repaginatedialog .hd {
    display: block;
}

body.jsenabled #quizcontentsblock #repaginatedialog .bd {
    padding: 1em;
}

body.jsenabled #quizcontentsblock .repaginatecommand #repaginatecommand {
    display: block;
}

#page-mod-quiz-edit #randomquestiondialog {
    display: none;
}

#page-mod-quiz-edit #qtypechoicecontainer {
    display: none;
}

#page-mod-quiz-edit .questionbankwindow select#catmenu_jump {
  /* In Opera9, IE6 the width of the
select obeys the width of its content
by default. This prevents that. */
    width: 100%;
}

/*this color might need to be theme-specific,
but in terms of usability, as testing showed,
http: //docs.moodle.org/dev/Quiz_UI_redesign/usability_testing_of_August_2008/Issues#Question_bank_.2F_question_adding_controls_visibility
it must be ensured that the question
bank window's title is prominent enough*/

#page-mod-quiz-edit .questionbankwindow.block div.header {
  padding-top: 0.2em;
  font-weight: bold;
  background-color: #009;
  background-image: none;
  border: 0 none;
}

#page-mod-quiz-edit .questionbankwindow.block div.header div.title h2 {
  color: #fff;
  text-align: center;
}

#page-mod-quiz-edit .collapsed .container {
  display: none;
}

#page-mod-quiz-edit .questionbankwindow a#showbankcmd,
#page-mod-quiz-edit .questionbankwindow a#hidebankcmd {
  color: #fff;
  text-decoration: underline;
}

#page-mod-quiz-edit .questionbankwindow a#showbankcmd:hover,
#page-mod-quiz-edit .questionbankwindow a#hidebankcmd:hover {
  color: #009;
  text-decoration: none;
  background-color: #fff;
}

#page-mod-quiz-edit .questionbankwindow #showbankcmd {
  display: none;
}

#page-mod-quiz-edit .collapsed #showbankcmd {
  display: inline;
}

#page-mod-quiz-edit .questionbankwindow #hidebankcmd {
  display: inline;
}

#page-mod-quiz-edit .collapsed #hidebankcmd {
  display: none;
}

#page-mod-quiz-edit .quizquestionlistcontrols {
  display: inline;
}

#page-mod-quiz-edit .quizpagedelete {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  z-index: 900;
  display: inline;
}

#page-mod-quiz-edit .quizpagedelete img {
  padding: 0.6em;
  background-color: #d6d6d6;
}

#page-mod-quiz-edit .pagecontrols {
  padding-top: 0.5em;
  margin-left: 0.5em;
  clear: both;
}

#page-mod-quiz-edit .pagecontrols .singlebutton {
  float: left;
  margin-left: 1em;
}

#page-mod-quiz-edit .pagecontrols .helplink {
  float: left;
}

#page-mod-quiz-edit div#randomquestiondialog_c {
  width: 90%;
}

#page-mod-quiz-edit div#randomquestiondialog_c .mform,
#randomquestiondialog_c select {
  width: 100%;
}

#page-mod-quiz-edit div#repaginatedialog .mform {
  margin-right: auto;
  margin-left: auto;
}

#page-mod-quiz-edit div.container div.generalbox {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  border: 0 none;
}

#page-mod-quiz-edit .questionbankwindow .createnewquestion select,
#page-mod-quiz-edit .questionbankwindow #catmenu select,
#page-mod-quiz-edit .questionbankwindow #menucategory {
  width: 100%;
}

#page-mod-quiz-edit .paging {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #ddd;
}

#page-mod-quiz-edit .pagingbottom {
  padding-bottom: 0.3em;
}

#page-mod-quiz-edit .paging a:hover {
  background-color: #eef;
}

#page-mod-quiz-edit #page-footer {
  padding-top: 1em;
  clear: both;
}

.ie6#page-mod-quiz-edit div.question div.content .questiontext,
.ie6#page-mod-quiz-edit #categoryquestions .questionname {
  /*ie6 shows this as an arrow if this is not specified*/
  cursor: pointer;
}

.ie6#page-mod-quiz-edit div.question div.content .questionname,
.ie6#page-mod-quiz-edit #categoryquestions .questiontext {
  /*ie6 shows this as an arrow if this is not specified*/
  cursor: pointer;
}

.ie6#page-mod-quiz-edit .reorder .questioncontentcontainer .randomquestioncategory label {
  width: 35%;
}

.ie6#page-mod-quiz-edit .editq div.question div.content .randomquestioncategory a {
  width: 40%;
}

#page-mod-quiz-edit #categoryquestions .questiontext {
  font-weight: bold;
}

#page-mod-quiz-edit .categoryinfofield {
  font-style: italic;
}

#page-mod-quiz-edit .categorynamefield {
  font-weight: bold;
}

#page-mod-quiz-edit a.configurerandomquestion {
  font-size: small;
  text-decoration: underline;
}

#page-mod-quiz-edit .questioncontentcontainer div.randomquestionqlist {
  background-color: #eee;
}

#page-mod-quiz-edit .questioncontentcontainer div.randomquestionqlist ul {
  color: #555;
}

#page-mod-quiz-edit .questioncontentcontainer div.randomquestionqlist .totalquestionsinrandomqcategory {
  color: #000;
}

#page-mod-quiz-edit .categoryinfo {
  background-color: #eee;
  border-bottom: 1px solid #bbb;
}

#page-mod-quiz-edit .questionsortoptions {
  background-color: #ddd;
}

#page-mod-quiz-edit div.questionbank {
  background-color: #e6e6ff;
}

#page-mod-quiz-edit div.questionbank form .invisiblefieldset {
  clear: both;
}

#page-mod-quiz-edit div.questionbank .categorysortopotionscontainer {
  padding-top: 0.5em;
  margin-top: 0.3em;
}

#page-mod-quiz-edit div.questionbank .categoryquestionscontainer,
.questionbank .categorysortopotionscontainer,
.questionbank .categorypagingbarcontainer,
.questionbank .categoryselectallcontainer {
  background-color: #fff;
}

#categoryquestions .questiontext {
  width: 50%;
}

#categoryquestions .questionname {
  width: 50%;
}

.ie6#page-mod-quiz-edit div.question div.content .questiontext,
.ie6#page-mod-quiz-edit #categoryquestions .questionname {
  /*ie6 shows this as an arrow if this is not specified*/
  cursor: pointer;
}

.ie6#page-mod-quiz-edit div.question div.content .questionname,
.ie6#page-mod-quiz-edit #categoryquestions .questiontext {
  /*ie6 shows this as an arrow if this is not specified*/
  cursor: pointer;
}

.ie6.path-mod-quiz div.tabtree a span img.iconsmall {
  position: relative;
  top: 1px;
  margin: 0;
  vertical-align: baseline;
}

.ie6#page-mod-quiz-edit div.question div.content .questiontext {
  width: 50%;
}

.ie6#page-mod-quiz-edit div.question div.content .questionname {
  width: 20%;
}

.ie6#page-mod-quiz-edit .editq div.question div.content .randomquestioncategory a {
  width: 40%;
}

.ie6#page-mod-quiz-edit .reorder .questioncontentcontainer .randomquestioncategory label {
  width: 35%;
}

.qnum label {
  padding-right: 0.25em;
}

/* RTL Mode */

#page-mod-quiz-mod.dir-rtl #id_reviewoptionshdr .fitem {
  float: right;
  width: 23%;
}

#page-mod-quiz-mod.dir-rtl #id_reviewoptionshdr .fitemtitle {
  text-align: right;
}

#page-mod-quiz-mod.dir-rtl #id_reviewoptionshdr fieldset.fgroup span {
  float: right;
  clear: right;
}

#page-mod-quiz-edit.dir-rtl div.quizpage span.pagetitle {
  float: right;
}

#page-mod-quiz-edit.dir-rtl div.quizpage .pagecontent {
  float: right;
}

#page-mod-quiz-edit.dir-rtl div.question {
  clear: right;
}

#page-mod-quiz-edit.dir-rtl div.question div.qnum {
  float: right;
}

#page-mod-quiz-edit.dir-rtl div.editq div.question div.content {
  float: right;
  height: 40px;
}

#page-mod-quiz-edit.dir-rtl div.question div.content div.points {
  right: auto;
  left: 60px;
}

#page-mod-quiz-edit.dir-rtl div.question div.content div.questioncontrols {
  right: auto;
  left: 0.3em;
  float: left;
}

#page-mod-quiz-edit.dir-rtl .editq div.question div.content .singlequestion .questioneditbutton .questionname,
#page-mod-quiz-edit.dir-rtl .editq div.question div.content .singlequestion .questioneditbutton .questiontext {
  float: right;
  padding-right: 0.3em;
}

#page-mod-quiz-edit.dir-rtl div.question div.content .questiontext,
#page-mod-quiz-edit.dir-rtl #categoryquestions .questiontext {
  padding-right: 0.3em;
}

#page-mod-quiz-edit.dir-rtl .editq div.questioncontentcontainer div.singlequestion img {
  float: right;
}

#page-mod-quiz-edit.dir-rtl .editq div.question div.content .questionpreview {
  float: right;
}

#page-mod-quiz-edit.dir-rtl div.question div.content div.qorder {
  right: auto;
  left: 50px;
}

#page-mod-quiz-edit.dir-rtl .reorder div.question div.content {
  float: right;
}

#page-mod-quiz-edit.dir-rtl .quizpagedelete {
  right: auto;
  left: 0.2em;
}

#page-mod-quiz-edit.dir-rtl div.quizcontents {
  float: right;
  clear: right;
}

#page-mod-quiz-edit.dir-rtl .questionbankwindow.block {
  float: left;
}

#page-question-edit.dir-rtl td.creatorname,
#page-question-edit.dir-rtl td.modifiername {
  text-align: center;
}

.path-question.dir-rtl input[name="maxmark"],
.path-question-type.dir-rtl input[name="defaultmark"],
#page-mod-quiz-edit.dir-rtl div.points input {
  text-align: left;
  direction: ltr;
}

