.que.numerical .answer {
    display: inline;
    width: auto;
    padding: 0.3em;
}

.que.numerical .answer input[type="text"] {
    width: 30%;
}

/* Numeric INPUT text boxes should be left aligned in RTL mode
*/

#page-question-type-numerical.dir-rtl input[name="unitpenalty"],
#page-question-type-numerical.dir-rtl input[name^="answer"],
#page-question-type-numerical.dir-rtl input[name^="tolerance"],
#page-question-type-numerical.dir-rtl input[name^="multiplier"],
#page-question-type-numerical.dir-rtl input[name^="unit"] {
    text-align: left;
    direction: ltr;
}

/* Editing form. */

body#page-question-type-numerical div[id^=fgroup_id_][id*=answeroptions_] {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 0;
    background: #eee;
    border: 1px solid #bbb;
    border-bottom: 0;
}

body#page-question-type-numerical div[id^=fgroup_id_][id*=answeroptions_] .fgrouplabel label {
    font-weight: bold;
}

body.path-question-type div#fgroup_id_penaltygrp label[for^=id_unitpenalty],
body.path-question-type div[id^=fgroup_id_units_] label[for^='id_unit_'],
body#page-question-type-numerical div[id^=fgroup_id_][id*=answeroptions_] label[for^='id_answer_'] {
    position: absolute;
    left: -10000px;
    font-size: 1em;
    font-weight: normal;
}

body#page-question-type-numerical div[id^=fitem_id_][id*=fraction_] {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 0;
    background: #eee;
    border: 1px solid #bbb;
    border-top: 0;
    border-bottom: 0;
}

body#page-question-type-numerical div[id^=fitem_id_][id*=feedback_] {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 2em;
    background: #eee;
    border: 1px solid #bbb;
    border-top: 0;
}

