/**
 * Manual allocator
 */

.path-mod-workshop .manual-allocator .allocations {
    margin: 0 auto;
}

.path-mod-workshop .manual-allocator .allocations .r0 {
    background-color: #eee;
}

.path-mod-workshop .manual-allocator .allocations .r0.highlightreviewerof,
.path-mod-workshop .manual-allocator .allocations .r0.highlightreviewedby {
    background-color: inherit;
}

.path-mod-workshop .manual-allocator .allocations .peer .image {
    margin-right: 5px;
    vertical-align: middle;
}

.path-mod-workshop .manual-allocator .allocations .reviewedby .image,
.path-mod-workshop .manual-allocator .allocations .reviewerof .image {
    margin-right: 3px;
    vertical-align: middle;
}

.path-mod-workshop .manual-allocator .allocations .highlightreviewedby .reviewedby,
.path-mod-workshop .manual-allocator .allocations .highlightreviewerof .reviewerof {
    background-color: #fff3d2;
}

.path-mod-workshop .manual-allocator .allocations tr td {
    padding: 5px;
    vertical-align: top;
}

.path-mod-workshop .manual-allocator .allocations tr td ul {
    margin: 0;
}

.path-mod-workshop .manual-allocator .allocations tr td ul li {
    list-style: none;
}

.path-mod-workshop .manual-allocator .allocations tr td.peer {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.path-mod-workshop .manual-allocator .allocations .reviewedby .info,
.path-mod-workshop .manual-allocator .allocations .peer .info,
.path-mod-workshop .manual-allocator .allocations .reviewerof .info {
    font-size: 80%;
    font-style: italic;
    color: #888;
}

.path-mod-workshop .manual-allocator .allocations .peer .submission {
    margin-top: 1em;
    font-size: 90%;
}

