/*** Modules: IMS CP ***/

#page-mod-imscp-view #imscp_nav {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}

#page-mod-imscp-view #imscp_toc .ygtv-highlight1 {
    font-weight: bold;
}

#page-mod-imscp-view .yui-layout-hd {
    background-color: #ddd;
    background-image: none;
}

#page-mod-imscp-view .yui-layout-hd h2 {
    color: #000;
}

