.block_course_overview .coursechildren {
    font-style: italic;
    font-weight: normal;
}

.block_course_overview .content {
    margin: 0 20px;
}

.block_course_overview .content .notice {
    margin: 5px 0;
}

.block_course_overview .coursebox {
    width: auto;
    padding: 15px;
}

.block_course_overview .profilepicture {
    float: left;
}

.dir-rtl.block_course_overview .profilepicture {
    float: right;
}

.block_course_overview .welcome_area {
    width: 100%;
    padding-bottom: 5px;
}

.block_course_overview .welcome_message {
    float: left;
    padding: 10px;
    clear: none;
    vertical-align: middle;
    border-collapse: separate;
}

.dir-rtl .block_course_overview .welcome_message {
    float: right;
}

.block_course_overview .content h2.title {
    position: relative;
    float: left;
    margin: 0 0 .5em 0;
}

.dir-rtl .block_course_overview .content h2.title {
    float: right;
}

.block_course_overview .course_title {
    position: relative;
}

.editing .block_course_overview .coursebox .cursor {
    margin-bottom: 2px;
    cursor: move;
}

.editing .block_course_overview .move {
    float: left;
    padding: 2px 10px 0 0;
}

.dir-rtl.editing .block_course_overview .move {
    float: right;
    padding: 2px 10px;
}

.block_course_overview .course_list {
    width: 100%;
}

.block_course_overview div.flush {
    clear: both;
}

.block_course_overview .activity_info {
    clear: both;
}

.dir-rtl .block_course_overview .activity_info {
    margin-right: 25px;
}

.block_course_overview .activity_overview {
    padding: 2px;
}

.block_course_overview .activity_overview img.iconlarge {
    margin-right: 6px;
    vertical-align: text-bottom;
}

.dir-rtl .block_course_overview .activity_overview img.iconlarge {
    margin-right: 0;
    margin-left: 6px;
}

.block_course_overview .singleselect {
    margin: 0;
    text-align: left;
}

.dir-rtl .block_course_overview .singleselect {
    text-align: right;
}

.block_course_overview .content .course_list .movehere {
    margin-bottom: 15px;
}

