.path-admin-tool-customlang .langselectorbox,
.path-admin-tool-customlang fieldset.buttonsbar,
.path-admin-tool-customlang .menu {
    margin: 5px auto;
    text-align: center;
}

.path-admin-tool-customlang .menu .singlebutton,
.path-admin-tool-customlang .menu .singlebutton form,
.path-admin-tool-customlang .menu .singlebutton form div {
    display: inline;
}

.path-admin-tool-customlang .mform.filterform {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.path-admin-tool-customlang .mform.filterform .fitem .fitemtitle {
    width: 30%;
}

.path-admin-tool-customlang .mform.filterform .fitem .felement {
    width: 60%;
    margin-left: 31%;
}

.path-admin-tool-customlang #translator {
    width: 100%;
}

.path-admin-tool-customlang #translator .standard,
.path-admin-tool-customlang #translator .local {
    min-width: 35%;
}

.path-admin-tool-customlang #translator .customized {
    background-color: #e7f1c3;
}

.path-admin-tool-customlang #translator .customized.outdated {
    background-color: #f3f2aa;
}

.path-admin-tool-customlang #translator .modified {
    background-color: #ffd3d9;
}

.path-admin-tool-customlang #translator .customized.modified {
    background-color: #d2ebff;
}

.path-admin-tool-customlang #translator textarea {
    width: 100%;
    min-height: 4em;
}

.path-admin-tool-customlang #translator .placeholderinfo {
    margin-top: 0.5em;
    text-align: center;
    background-color: #f6f6f6;
    border: 1px dotted #ddd;
}

#page-admin-tool-customlang-index .continuebutton {
    margin-top: 1em;
}

.path-admin-tool-customlang #translator .standard.master.cell.c2 {
    word-break: break-all;
}

