.block_messages .content {
    padding-top: 5px;
    text-align: left;
}

.block_messages .content .list li.listentry {
    clear: both;
}

.block_messages .content .list li.listentry .user {
    position: relative;
    float: left;
}

.block_messages .content .list li.listentry .message {
    float: right;
}

.block_messages .content .info {
    text-align: center;
}

.block_messages .content .footer {
    clear: both;
}

.dir-rtl .block_messages .content .list li.listentry .user {
    float: right;
}

.dir-rtl .block_messages .content .list li.listentry .message {
    float: left;
}

